<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UnlockDelay</key>
	<real>0.0</real>
	<key>WaitForCoverSheet</key>
	<true/>
	<key>WaitForGrid</key>
	<true/>
	<key>GridMinWidth</key>
	<real>0.5</real>
	<key>WaitForSettle</key>
	<false/>
	<key>ScaleComp</key>
	<true/>
	<key>GuardDuration</key>
	<real>0.6</real>
	<key>ForcePresentation</key>
	<true/>
</dict>
</plist>
